snippet %
	{% ${1} %}
snippet {
	{{ ${1} }}
snippet #
	{# ${1} #}
snippet block
	{% block ${1:name} %}

	${2}

	{% endblock $1 %}
snippet if
	{% if ${1} %}
		${2}
	{% endif %}
snippet for
	{% for ${1} in ${2} %}
		${3}
	{% endfor %}
